.iButton {
  margin-left: 8px;
}
.input[type="text"] {
  position: relative;
  padding: 0 2vmax;
  background-color: #f2f2f2;
  height: 50px;
  width: 100%;
  border-radius: 50vmin;
}
.box_overflow {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 20px;
}
.box {
  position: relative;
  background-color: #6c757d;
  border-radius: 2vmin;
  width: 100%;
  padding: 10px 2vmax 10px 2vmax;
  overflow: hidden;
  align-items: center;
  justify-items: center;
  margin: auto auto 10px auto;
}
.token_box {
  float: left;
  position: relative;
  background-color: hsla(91, 100%, 88%, 0.932);
  border-radius: 2vmin;
  padding: 5px 1vmax;
  font-size: large;
  font-weight: bold;
  align-items: center;
  height: 35px;
  width: 38%;
  margin-top: 4px;

  justify-items: center;
}
.token_box_left {
  float: left;
  color: black;
  position: relative;
}
.token_logo {
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
  align-items: center;
  border-radius: 5px;
}
.token_box_right {
  position: relative;
  float: right;
  color: black;
}
.box_right {
  margin: auto;
  float: right;
  color: white;
  font-size: large;
  font-weight: bold;
  align-items: center;
}
.text {
  margin-top: 12px;
}
.join1 {
  /*margin: 5px 5px 5px 5px; */
  position: relative;
  font-size: large;
  font-weight: bold;
  align-items: center;
  justify-items: center;
  /* background-color: rgb(255, 196, 196);
    border-radius: 1.5vmin; */
  padding: 0.6vmax;
  color: rgba(0, 81, 255, 0.817);
  cursor: pointer;
}
